<%# Display any form errors at the top of the form: %>
<% if review.errors.any? %>
    <% review.errors.full_messages.each do |error_message| %>
        <div class="alert alert-danger"><%= error_message %></div>
    <% end %>
<% end %>

<%# Display the form fields: %>


<p>
    <%= form.label :email %><br>
    <%= form.email_field(:email, {:class => 'form-control'}) %>
</p>

<p>
    <%# <div id="rating-form">
        <label>Rating</label><br>
    </div> %>

    <%# OR: %>

    <%=form.label :rating %><br>
    <%= form.number_field(:rating, {:min => 1, :max => 5, :class => 'form-control'}) %>
</p>

<p>
    <%= form.label :comment, "Comment (Optional)" %><br>
    <%= form.text_area(:comment, {:class => 'form-control'}) %>
</p>

<div>
    <%= form.hidden_field :movie_id %>
    <%= hidden_field_tag('movie_id', movie_id)  %>
</div>

<script>
    $(function(){

        

        $("#rating-form").raty({
            path: "<%= @star_path %>", // "app/assets/images/", // "/assets/",
            scoreName: "review[rating]"
        });

        // $("img[alt='2']").first().trigger('click');

        
    });

    
</script>
