<!DOCTYPE html>
<html>
  <head>
    <title>MovieDatabaseTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# <link rel="stylesheet" href="jquery.raty.css"> %>

  </head>

  <body>

    <%= render(:partial => 'layouts/navbar') %>

    <div class="container" id="main-content">

      <% if !flash[:notice].blank? %>
        <div class="alert alert-success" id="main-notice">
            <%= flash[:notice] %>
        </div>
      <% end %>

      <% if !flash[:alert].blank? %>
        <div class="alert alert-danger" id="main-alert">
            <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
